.form
  = form_tag "/upload", :method => :post, :multipart=>true do
    = file_field_tag :file
    = submit_tag '上传'
.files
  - @file_entities.each do |f|
    .file
      = f.attach_file_name
      %img{:src => f.attach.url}

