<!DOCTYPE html>
<html>
<head>
  <title>QiniuSample</title>
  <script type="text/javascript">
    // window.use_lan_qiniu_compatibility_mode = true
    // window.lan_qiniu_compatibility_mode_upload_url = "http://192.168.1.233:9527"
  </script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
